.header {
    height:100px;
    padding-top: 2px;
    padding-bottom: 2px;
    position:relative;
}
.header > * {
    display: inline-block;
    margin-right: 10px;
}
.header > .logout, .header > .login {
    position:absolute; 
    right : 5px;
    top:10%;
    font-size: 14px;
}

.main_choice {
    margin-top: 10%;
    height: 20%;
}

.main_choice > div {
    position:relative;
    margin: 5%;
}
.main_choice > div > a {
    width:100%;
    height:100%;
    background-color: #EEEEEE;
}

