<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}PiChaTure{% endblock %}</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  {% load staticfiles %}
  <!-- Bootstrap -->
  <!--  Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!--  Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static "chat.css" %}">
  <link rel="stylesheet" href="{% static "general.css" %}">
  

</head>
<body>

  <div class="jumbotron header">
    <a href="/">
      <img src="{% static "chat_pichat_title.png" %}" alt="Pichature" height="67" width="120" class="img-thumbnail">
    </a>
    {% if user.is_authenticated %}
      <h2 name="captaine"> Capitaine {{user.username}}</h2>
      <a href="/logout/?next=/" class="logout">log out</a>
    {% else %}
      <p> - - - </p>
      <a href="/login/?next=/" class="login">login</a>
    {% endif %}
  
  </div>
  <div class="section">
    <div>
      {% block content %}{% endblock content %}
    </div>
  </div>  
  {% block afterbody %}{% endblock afterbody %}
</body>
<script type="text/javascript" src='{% static "reconnecting-websocket.min.js" %}'></script>
</html>
