{% extends "pichature/base.html" %}

{% block content %}
  {% load staticfiles %}
  {% load tz %}
  <h1>{{ room.name }}</h1>
  <form id="chatform" method="post" send-message-url="{% url 'send_message' %}">
    <table id="chat" class='table table-striped'>
      <tbody id="srcollBox" class='msg_list'>
        {% for message in messages %}
          <tr>
            <td hidden class="id">{{ message.id }}</td>
            <td class="time_message col-md-1 col-xs-2"><i>{{ message.timestamp|timezone:"Europe/Paris"}}</i></td>
            <td class="sender col-md-1 col-xs-2"><Strong>{{ message.user }}</Strong></td>
            <td class="messagePicture col-md-10 col-xs-8">
              {{ message.message_picture | safe}}
            </td>
          </tr> 
        {% endfor %}
      </tbody>
      <tfoot>
      <tr>
        <td colspan="4">
          {% csrf_token %}
          <p>Dite quelque chose:</p>
          <input id="message"  type="text" placeholder="message" autofocus>
          <input type="button"  id="go" value="Dite le" onclick="sendMessage();">
        </td>
      </tfoot>
    </table>
  </form>
{% endblock content %}

{% block afterbody %}
  <script type="text/javascript" src='{% static "jquery-3.2.1.min.js" %}'></script>
  <!--<script type="text/javascript" src='{% static "reconnecting-websocket.min.js" %}'></script>-->
  <script type="text/javascript" src='{% static "chat.js" %}'></script>
{% endblock afterbody %}